fastapi>=0.110
uvicorn[standard]>=0.30

# 👇 Necesario para usar la Responses API con max_completion_tokens
openai>=1.40.0

python-multipart
jinja2
itsdangerous

# PDF / parsing
pymupdf>=1.24.2          # (el paquete correcto se llama "pymupdf")
reportlab>=4.0.0

python-dotenv>=1.0
SQLAlchemy>=2.0
psycopg2-binary>=2.9
passlib[bcrypt]>=1.7
websockets>=12.0
